<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.immr.studentplanner">

    <application
        android:name="com.immr.studentplanner.Channel"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_bzb_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_bzb_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.immr.studentplanner.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.immr.studentplanner.MainActivity" />
        <activity android:name="com.immr.studentplanner.TermsActivity" />
        <activity android:name="com.immr.studentplanner.EditTermsActivity" />
        <activity android:name="com.immr.studentplanner.TermsDetailedActivity" />
        <activity android:name="com.immr.studentplanner.CoursesActivity" />
        <activity android:name="com.immr.studentplanner.EditCourseActivity" />
        <activity android:name="com.immr.studentplanner.AssessmentsActivity" />
        <activity android:name="com.immr.studentplanner.EditAssessmentActivity" />
        <activity android:name="com.immr.studentplanner.CourseDetailedActivity" />
        <activity android:name="com.immr.studentplanner.AssessmentDetailedActivity" />
        <activity android:name="com.immr.studentplanner.NotesActivity" />
        <activity android:name="com.immr.studentplanner.ProfessorActivity" />

        <receiver
            android:name="com.immr.studentplanner.receivers.AlarmReceiver"
            android:enabled="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>